---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";
---

<Layout title="Hello, I'm ophx!">
	<main>
		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
				<div class="my-auto w-full">
					<div class="flex items-center justify-between">
						<div class="w-96">
							<p class="text-white text-4xl sm:text-5xl">Hello, I'm ophx!</p>
							<p class="text-gray-400 sm:text-xl mb-4">A 17 year old developer from Michigan.</p>
							<div class="border-b-2 border-purple-800 w-24"></div>
							<p class="text-gray-400 mt-4">Since I was 9 years old, coding has been my passion. It started with messing around jailbreaking PS3's and making MW3 cheats. From there, I fell in love with coding and never looked back. Coding isn't just a hobby for me, it's a part of who I am, driving me to constantly seek out new challenges and opportunities to expand my skills.</p>
						</div>
						<div>
							<img draggable="false" src="/logo.jpg" class="hidden sm:block rounded-full shadow-lg h-44 w-44">
						</div>
					</div>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>