---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";

const projects = await Astro.glob("../pages/projects/*.md");
---

<Layout title="Projects">
	<main>
		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
				<div class="my-auto w-full">
					<p class="text-white text-2xl sm:text-3xl text-center mb-4">Projects</p>
                    <div class="border-b-2 border-purple-800 w-10 mb-4 mx-auto"></div>
                    <div class="grid grid-cols-3 gap-4">
                        {projects.map((project) => (
                            <a href={project.url} class="transition-all duriation-150 rounded shadow-lg p-4 border border-gray-900 cursor-pointer hover:bg-gray-900">
                                <p class="text-white sm:text-xl">{project.frontmatter.title}</p>
                                <p class="text-gray-400 truncate">{project.frontmatter.description}</p>
                            </a>
                        ))}
                    </div>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>