---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";

const skills = [
	{
		name: "HTML",
		icon: "devicon-html5-plain colored"
	},
	{
		name: "PHP",
		icon: "devicon-php-plain colored"
	},
	{
		name: "React",
		icon: "devicon-react-original colored"
	},
	{
		name: "Next",
		icon: "devicon-nextjs-plain colored"
	},
	{
		name: "Astro",
		icon: "devicon-astro-plain colored"
	},
	{
		name: "Vue",
		icon: "devicon-vuejs-plain colored"
	},
	{
		name: "Python",
		icon: "devicon-python-plain colored"
	},
	{
		name: "Go",
		icon: "devicon-go-plain colored"
	},
	{
		name: "Java",
		icon: "devicon-java-plain colored"
	},
	{
		name: "JavaScript",
		icon: "devicon-javascript-plain colored"
	},
	{
		name: "TypeScript",
		icon: "devicon-typescript-plain colored"
	},
	{
		name: "C++",
		icon: "devicon-cplusplus-plain colored"
	},
	{
		name: "C#",
		icon: "devicon-csharp-plain colored"
	},
	{
		name: "Tailwind",
		icon: "devicon-tailwindcss-original colored"
	},
	{
		name: "CSS",
		icon: "devicon-css3-plain colored"
	},
	{
		name: "SASS",
		icon: "devicon-sass-original colored"
	},
	{
		name: "MySQL",
		icon: "devicon-mysql-original colored"
	},
	{
		name: "MongoDB",
		icon: "devicon-mongodb-plain colored"
	}
];
---

<style>
	.marquee-container {
		overflow: hidden;
		white-space: nowrap;
	}
	.marquee-content {
		animation: marquee 50s linear infinite;
	}
	@keyframes marquee {
		0% { transform: translateX(100%); }
		100% { transform: translateX(-100%); }
	}
</style>
<script type="module">
	function enableMarquee() {
	  	const targets = document.querySelectorAll(".marquee-content");
		window.addEventListener("scroll", () => {
			targets.forEach((target) => {
				target.style.transform = `translateX(${window.scrollY / 10}px)`;
			});
		});
	}
	enableMarquee();
</script>

<Layout title="Skills">
	<main>
		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
				<div class="mt-96 w-full">
					<p class="text-white text-2xl sm:text-3xl mb-4 text-center">Skills</p>
                    <div class="border-b-2 border-purple-800 w-10 mb-4 mx-auto"></div>
					<div class="marquee-container">
						<div class="flex items-center gap-4 marquee-content">
							{skills.map((skill) => (
								<div class="rounded shadow-lg p-4 border border-gray-900">
									<div class="flex items-center gap-2">
										<div class="text-2xl">
											<i class={skill.icon}></i>
										</div>
										<p class="text-gray-400">{skill.name}</p>
									</div>
								</div>
							))}
						</div>
					</div>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>