---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";
---

<Layout title="Socials">
	<main>
		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
				<div class="my-auto w-full">
					<p class="text-white text-2xl sm:text-3xl mb-4 text-center">Socials</p>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>