---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";
import Navbar from "../components/Navbar.astro";
---

<style>
	.scrolling-wrapper {
        overflow-x: hidden;
    	width: 100%;
    }
	.scrolling-container {
		animation: scroll 20s linear infinite;
	}
	.scrolling-container:hover {
		animation-play-state: paused;
	}
	@keyframes scroll {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-170%);
		}
	}
</style>

<Layout title="Reo's Tools">
	<main>
		<!-- navbar -->
        <Navbar />

		<!-- hero -->
		<AnimatedScroll client:load>
			<div class="container px-32 p-4 mx-auto flex w-full">
				<div class="mt-44 w-full">
					<div>
						<div class="grid grid-cols-2 gap-4">
							<div class="col-span-2 border-2 border-[#101010] bg-[#090909] p-4 rounded-lg shadow-lg">
                                <p class="text-white text-2xl font-medium text-center">My Tools</p>
                                <p class="text-gray-400 text-center">Here is an overview of the tools I use.</p>
										</div>
									</div>
								</div>
                            </div>
										</div>
									</div>
								</div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</AnimatedScroll>
	</main>
</Layout>