<div class="container px-32 p-4 mx-auto">
    <div class="w-full border-2 border-[#101010] bg-[#090909] px-4 py-2 rounded-lg shadow-lg">
        <div class="flex items-center justify-between">
            <div>
                <a href="/">
                    <img draggable="false" src="https://cdn3.emoji.gg/emojis/9879_hackerman.gif" class="h-10 w-10" />
                </a>
            </div>
              <div class="flex items-center gap-4">
                <a href="/tools" class="transition-all duriation-150 text-gray-400 hover:text-white font-medium">Tools
                </a>
                <a href="" target="_blank" class="transition-all duriation-150 text-gray-400 hover:text-white font-medium">
                    Source Code
                </a>
            </div>
        </div>
    </div>
</div>