---
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="hidden sm:block fixed top-0 w-full px-4 py-4 border-b border-b-gray-900">
    <div class="space-y-4 container px-32 mx-auto">
        <div class="flex justify-between items-center">
            <div>
                <img draggable="false" src="/logo.jpg" class="rounded-full shadow-lg h-8 w-8" />
            </div>
            <div class="flex items-center gap-8">
                <a href="/" class={`transition-all duriation-150 ${pathname === "/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                    About Me
                </a>
				<a href="/projects" class={`transition-all duriation-150 ${pathname === "/projects/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                    Projects
                </a>
                <a href="/skills" class={`transition-all duriation-150 ${pathname === "/skills/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                    Skills
                </a>
            </div>
        </div>
    </div>
</nav>

<nav class="block sm:hidden fixed top-0 w-full px-4 py-4 border-b border-b-gray-900">
    <div class="space-y-4">
        <div class="flex items-center gap-8">
            <a href="/" class={`transition-all duriation-150 ${pathname === "/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                About Me
            </a>
            <a href="/projects" class={`transition-all duriation-150 ${pathname === "/projects/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                Projects
            </a>
            <a href="/skills" class={`transition-all duriation-150 ${pathname === "/skills/" ? "text-white" : "text-gray-400 hover:text-white"} font-medium`}>
                Skills
            </a>
        </div>
    </div>
</nav>