---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Hello, I'm ophx!">
		<meta name="description" content="This is my personal website." />
		<meta property="og:site_name" content="ophx.pages.dev" />
		<meta property="og:title" content="Hello, I'm ophx!">
		<meta property="og:description" content="This is my personal website." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/logo.jpg" />
		<link href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-950">
		<Navbar />

		<slot />
	</body>
</html>