---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <!-- md content -->
    <div class="sm:container sm:px-32 sm:mx-auto flex w-full h-screen">
        <div class="m-auto w-full text-gray-400">
            <p class="text-white text-2xl sm:text-3xl">{frontmatter.title}</p>
            <p class="text-gray-400">Last updated: {frontmatter.pubDate.slice(0, 10)}</p>
            
            <div class="border-b border-gray-900 mt-4 mb-4"></div>
            
            <slot />
        </div>
    </div>
</Layout>